/* login.component.scss */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% viewport height */
  background-color: #f0f0f0; /* Set background color */
}

.login-form {
  max-width: 400px; /* Adjust the max-width as needed */
  width: 100%;
  padding: 20px;
  background-color: #fff; /* Form background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for the form */
}
