button{

display: inline-block;
    margin-left: 50%;
    height: 50px;
        width: 190px;
        border-color:blue ;
        background-color: gray;
}


input {

    margin-left: 50%;
    height: 50px;
    
}