h2
{
margin-left: 50%;

}

.delete-container input{

margin-left: 50%;


}

label{

    margin-left: 50%;

}

button{
        margin-left: 55%;

}

.error-message,.success-message {

    margin-left: 50%;


}